---
import Layout from '../layouts/Layout.astro';
import RatingCard from '../components/RatingCard.astro';
---

<Layout title="Interactive Rating Component">
	<main class="min-h-screen flex justify-center items-center">
		<RatingCard />
	</main>
</Layout>

<style>
	
</style>
