---
import { Image } from "astro:assets";
import thankYouImg from '../images/illustration-thank-you.svg'
const { id, style } = Astro.props;
---

<article id={id} class={`${style} w-[327px] md:w-[412px] h-[360px] md:h-[416px] rounded-[15px] md:rounded-[30px] bg-black-gradient flex flex-col items-center gap-8 pt-[34px] pb-[37px] md:py-[45px] px-6 md:pr-10`}>
    <div class="w-[144px] md:w-[162px] h-[96px] md:h-[108px]">
        <Image src={thankYouImg} alt="Thank You Illustration" class="object-cover w-full h-full"/>
    </div>

    <p id="result" class="px-3 py-[5px] bg-dark-blue rounded-[22.5px] text-orange text-sm md:text-[.938rem] font-normal leading-[1.375rem] md:leading-[1.5rem]"></p>

    <div>
        <h2 class="text-white text-center text-2xl md:text-[1.75rem] font-bold mb-[10px]">Thank you!</h2>
        <p class="text-light-gray text-center text-sm md:text-[.938rem] md:leading-[1.5rem] font-normal leading-[1.375rem]">We appreciate you taking the time to give a rating. If you ever need more support, don’t hesitate to get in touch!</p>
    </div>
</article>
